# HOMEWORK 3
## Stastical Inference
### Syeda Samah Daniyal, 07838
### sd07838@st.habib.edu.pk

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

In [5]:
df = pd.read_csv(r"C:\Users\samah\Downloads\student-scores.csv")
df

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93,97,63,80,87
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,90,86,96,100,90,88,90
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95,96,65,77,94
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88,80,89,63,86
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65,65,80,74,76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,Alan,Reynolds,alan.reynolds.1996@gslingacademy.com,male,False,2,False,30,Construction Engineer,83,77,84,73,75,84,82
1996,1997,Thomas,Gilbert,thomas.gilbert.1997@gslingacademy.com,male,False,2,False,20,Software Engineer,89,65,73,80,87,67,73
1997,1998,Madison,Cross,madison.cross.1998@gslingacademy.com,female,False,5,False,14,Software Engineer,97,85,63,93,68,94,78
1998,1999,Brittany,Compton,brittany.compton.1999@gslingacademy.com,female,True,10,True,5,Business Owner,51,96,72,89,95,88,75
1999,2000,Natalie,Smith,natalie.smith.2000@gslingacademy.com,female,False,5,False,27,Accountant,82,99,91,69,83,93,100

##### Q1. If math_score of males is greater than females.
Null Hypothesis (H0): There is no difference in the average math score of males and females.

Alternative Hypothesis (Ha): The average math score of males is greater than that of females.

In [7]:
male_math_scores = df[df['gender'] == 'male']['math_score']
female_math_scores = df[df['gender'] == 'female']['math_score']

stats.ttest_ind(male_math_scores, female_math_scores, alternative='greater')

TtestResult(statistic=2.2371559026936256, pvalue=0.012693020299630226, df=1998.0)

Since p value <0.05, we reject the null hypothesis hence statistically proving that males have a greater math score than females.

##### Q2. If math_score of Non Doctors is greater than Doctors (Hint: Use career_aspirations to find Doctor and Non Doctors).
Null Hypothesis (H0): The average math score of Non-Doctors is not greater than that of Doctors.

Alternative Hypothesis (Ha): The average math score of Non-Doctors is greater than the average math score of Doctors.

In [10]:
doctor_math_scores = df[df['career_aspiration'] == 'Doctor']['math_score']
non_doctor_math_scores = df[df['career_aspiration'] != 'Doctor']['math_score']

stats.ttest_ind(non_doctor_math_scores, doctor_math_scores, alternative='greater')

TtestResult(statistic=-7.389083205876682, pvalue=0.999999999999892, df=1998.0)

Since p value is >0.5, we accept the null hypothesis. Hence the math score of non-doctors is not greater than that of doctors.

##### Q3. If weekly_self_study_hours of males are greater than females.
Null Hypothesis (H0): There is no difference between the average weekly self-study hours of males and those of females.

Alternative Hypothesis (Ha): The average weekly self-study hours of males are greater than those of females.

In [13]:
male_study_hours = df[df['gender'] == 'male']['weekly_self_study_hours']
female_study_hours = df[df['gender'] == 'female']['weekly_self_study_hours']

stats.ttest_ind(male_study_hours, female_study_hours, alternative='greater')

TtestResult(statistic=3.4567831650474443, pvalue=0.00027905018418441824, df=1998.0)

Since p value <0.05, we reject the null hypothesis. Hence, the weekly self study hours of males are greater than those of females.

##### Q4. If math_score of no part_time_job male students are greater than part_time_job male 
student.

Null Hypothesis (H0): There is no difference in the average math score of male students without part-time jobs and with part-time jobs.

Alternative Hypothesis (Ha): The average math score of male students without part-time jobs is greater than those with part-time jobs.

In [16]:
no_job_male_math = df[(df['gender'] == 'male') & (df['part_time_job'] == False)]['math_score']
job_male_math = df[(df['gender'] == 'male') & (df['part_time_job'] == True)]['math_score']

stats.ttest_ind(no_job_male_math, job_male_math, alternative='greater')

TtestResult(statistic=5.8026672393780085, pvalue=4.3820239750124745e-09, df=996.0)

Since p value <0.05, we reject the null hypothesis. Hence the math score of male students without part-time jobs is greater than those with part-time jobs.

##### Q5. If the average of history_score is less than geography_score.
Null Hypothesis (H0): The average history score is not less than the geography score.

Alternative Hypothesis (Ha): The average history score is less than the average geography score.

In [19]:
history_scores = df['history_score']
geography_scores = df['geography_score']

stats.ttest_ind(history_scores, geography_scores, alternative='less')

TtestResult(statistic=-1.4412586066465385, pvalue=0.07479497633658547, df=3998.0)

Since p value >0.05, we accept the null hypothesis. Hence, the average history score is not less than the average geography score.

##### Q6. If the average of math_score is greater than biology_score.
Null Hypothesis (H0): There is no difference in the average math score and the average biology score.

Alternative Hypothesis (Ha): The average math score is greater than the average biology score.

In [56]:
math_scores = df['math_score']
biology_scores = df['biology_score']

stats.ttest_ind(math_scores, biology_scores, alternative='greater')

TtestResult(statistic=9.082620143235266, pvalue=8.146293509285797e-20, df=3998.0)

Since p value <0.05, we reject the null hypothesis. Hence, the average math score is greater than the average biology score.

##### Q7. If weekly_self_study_hours of extracurricular_activities is less than no extracurricular activities.

Null Hypothesis (H0): There is no difference in the average weekly self-study hours of students with extracurricular activities and students without extracurricular activities.

Alternative Hypothesis (Ha): The average weekly self-study hours of students with extracurricular activities are  less than those without extracurricular activities.

In [25]:
extracurricular_hours = df[df['extracurricular_activities'] == True]['weekly_self_study_hours']
no_extracurricular_hours = df[df['extracurricular_activities'] == False]['weekly_self_study_hours']

stats.ttest_ind(extracurricular_hours, no_extracurricular_hours, alternative='less')

TtestResult(statistic=-2.3506159912870577, pvalue=0.009419553161020007, df=1998.0)

Since p value <0.05, we reject the null hypothesis. Hence, the weekly study hours of those with extracurricular activities are less than those with no extracurricular activities.

##### Q8. If absence_days of females are less than males. 
Null Hypothesis (H0): The the average absence days of females are not less than those of males.

Alternative Hypothesis (Ha): The average absence days of females are less than those of males.

In [28]:
male_absence_days = df[df['gender'] == 'male']['absence_days']
female_absence_days = df[df['gender'] == 'female']['absence_days']

stats.ttest_ind(female_absence_days, male_absence_days, alternative='less')

TtestResult(statistic=1.3128102331149203, pvalue=0.9053011661354035, df=1998.0)

Since p value >0.05, we accept the null hypothesis. Hence, the average absence days of females are not less than those of males.

##### Q9. Is there any Association between gender and career_aspiration.
Null Hypothesis (H0): There is no association between gender and career aspiration.

Alternative Hypothesis (Ha): There is an association between gender and career aspiration.

In [31]:
chisqt = pd.crosstab(df['gender'], df['career_aspiration'], margins=True)
chisqt

career_aspiration,Accountant,Artist,Banker,Business Owner,Construction Engineer,Designer,Doctor,Game Developer,Government Officer,Lawyer,Real Estate Developer,Scientist,Software Engineer,Stock Investor,Teacher,Unknown,Writer,All
gender,,,,,,,,,,,,,,,,,,
female,64,42,103,164,0,32,53,31,31,66,45,19,141,25,59,109,18,1002
male,62,25,66,145,68,24,66,32,30,72,38,20,174,48,0,114,14,998
All,126,67,169,309,68,56,119,63,61,138,83,39,315,73,59,223,32,2000

In [32]:
stats.chi2_contingency(chisqt)

Chi2ContingencyResult(statistic=155.39466648000175, pvalue=1.9087221746002932e-17, dof=34, expected_freq=array([[  63.126,   33.567,   84.669,  154.809,   34.068,   28.056,
          59.619,   31.563,   30.561,   69.138,   41.583,   19.539,
         157.815,   36.573,   29.559,  111.723,   16.032, 1002.   ],
       [  62.874,   33.433,   84.331,  154.191,   33.932,   27.944,
          59.381,   31.437,   30.439,   68.862,   41.417,   19.461,
         157.185,   36.427,   29.441,  111.277,   15.968,  998.   ],
       [ 126.   ,   67.   ,  169.   ,  309.   ,   68.   ,   56.   ,
         119.   ,   63.   ,   61.   ,  138.   ,   83.   ,   39.   ,
         315.   ,   73.   ,   59.   ,  223.   ,   32.   , 2000.   ]]))

In [33]:
chi2, p, dof, ex = stats.chi2_contingency(chisqt)
chi2, p

(155.39466648000175, 1.9087221746002932e-17)

Since the value of p <0.05, we reject the null hypothesis. Hence, there is an association between gender and career aspiration.

##### Q10. Is there any Association between gender and part_time_job.
Null Hypothesis (H0): There is no association between gender and part-time job status.

Alternative Hypothesis (Ha): There is an association between gender and part-time job status.

In [36]:
chisqt2 = pd.crosstab(df['gender'], df['part_time_job'], margins=True)
chisqt2

part_time_job  False  True   All
gender
female           835   167  1002
male             849   149   998
All             1684   316  2000

In [37]:
stats.chi2_contingency(chisqt2)

Chi2ContingencyResult(statistic=1.1337105392319442, pvalue=0.8888874344046543, dof=4, expected_freq=array([[ 843.684,  158.316, 1002.   ],
       [ 840.316,  157.684,  998.   ],
       [1684.   ,  316.   , 2000.   ]]))

In [38]:
chi2, p, dof, ex = stats.chi2_contingency(chisqt2)
chi2, p

(1.1337105392319442, 0.8888874344046543)

Since the value of p >0.05, we accept the null hypothesis. Hence, there is no association between gender and part-time job status.